.cardButton {
  width: 17.625%;
  height: 23.5%;
  padding: 0px;
  position: absolute;
  left: 31.5%;
  top: 32.3%;
}

.cardImg {
  width: 100%;
  height: 100%;
}

.drawnCard {
  width: 17.625%;
  height: 23.5%;
  padding: 0px;
  position: absolute;
  left: 50.2%;
  top: 32.3%;
}
